node_modules
coverage
dist
.turbo
build
.vscode
.DS_Store
.eslintcache
*.log*
*.env*
.pnpm-store

pact/prelude
.pact-toolbox
.kadena

# Rust
target/
**/*.rs.bk

# Wasm
**/*.wasm

# node_modules
node_modules/
npm/*/node_modules
napi/*/npm-dir
