target
Cargo.lock
.cargo
npm-debug.log*
*.node
.github
npm/
examples/
src/
tests/
build.rs
rustfmt.toml
.editorconfig
.gitignore
*.profraw
*.napi.glibc
*.napi.musl
*.napi.armv7
yarn.lock
pnpm-lock.yaml
__test__/
benchmark/
.prettierignore
.eslintignore
.eslintrc
tsconfig.json
vitest.config.ts
*.log