# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
debug-logs/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Test outputs
coverage/

# Vite
.vite/

# Pact specific
pact/prelude/
pact/**/*.d.ts
.pact-toolbox/
